#simple-gdpr-cookies-banner {
	display: flex;
	padding: 1rem;
	position: fixed;
	bottom: 0;
	width: 100%;

	@media (max-width: 900px) {
		flex-direction: column;
	}
}

.simple-gdpr-cookies-flex-width {
	width: 70%;

	@media (max-width: 900px) {
		width: 100%;
	}
}

.simple-gdpr-cookies-full-width {
	width: 100%;
}